@CHARSET "UTF-8";
body{background:black;color: white; min-width: 800px; min-height: 600px;}
#logo {width:300px; height:120px;}
ul{list-style: none; margin-top: 20px;}
li{ display:inline; padding : 20px; font-size: 20px}
a:link{color:white;}
a:visited{color:white;}
a:hover{text-decoration: none; color:red;}

#foot{font-size: 24px;}

